<div *ngIf="tempMessage && tempMessage.message != ''">
    <p class="alert" [ngClass]="( tempMessage.status === true)?'alert-success' : 'alert-danger'">{{ tempMessage.message }}</p>
</div>
<h1>Grupe</h1>
<p>
    <button type="button" class="btn btn-primary" title="Nova grupa" data-toggle="modal" data-target="#add-modal">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</p>

<p *ngIf="!tags"><em>Loading...</em></p>

<table class='table' *ngIf="tags">
    <thead>
        <tr>
            <th>Naziv grupe</th>
            <th>Broj članova</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tag of tags">
            <td>{{ tag.name }}</td>
            <td>{{ tag.count }}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" title="Uredi" data-toggle="modal" data-target="#edit-modal" (click)="onClickEditTag(tag)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default btn-sm" title="Detalji" [routerLink]="['/tagdetails', tag.id]">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a class="btn btn-default btn-sm" title="Obriši" (click)="deleteTag(tag)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova grupa</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input [(ngModel)]="newTag.name" name="tagName" class="form-control" placeholder="Naziv grupe" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" (click)="addTag()">Dodaj</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Uredi grupu</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input [(ngModel)]="newTag.name" name="tagName" class="form-control" placeholder="Naziv grupe" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" (click)="editTag()">Spremi</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>
